{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~pages": "./src/pages",
          "~common": "./src/features/common",
          "~components": "./src/features/components",
          "~layout": "./src/features/layout",
          "~root": ".",
          "~styles": "./src/app/styles",
          "~api": "./src/app/api",
          "~models": "./src/app/models",
          "~stores": "./src/app/stores",
          "~utils": "./src/app/utils"
        }
      }
    ]
  ]
}
