.navbar {
  position: fixed;
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $hover;
  min-height: 100vh;
  overflow-y: overlay;
}

.navbar__container {
  padding: 10px;
  margin: auto;
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.navbar__container__item {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar__container__item + .navbar__container__item {
  margin-top: 80px;
}

.navbar__container__item:hover {
  background-color: $hover;
}

.navbar__container__item:hover > * {
  color: $primaryColor;
}

.navbar__container__item--active {
  background-color: $hover;
}

.navbar__container__item--active > * {
  color: $primaryColor;
}

.navbar__container__item__text {
  margin-left: 7px;
}
