:global(#app) {
  .mobileBar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px 10px;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0 0 2px 1px grey;
    z-index: 21;
    background-color: #fff;
  }

  .brand {
    margin: 0;
    color: $primaryColor;
  }

  .brandMix {
    color: black;
  }

  .hamburgerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
  }

  .navbar {
    position: fixed;
    display: flex;
    width: inherit;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $hover;
    min-height: 100vh;
    overflow-y: overlay;
    transition: all 1s ease;
  }

  .navbarContainer {
    padding: 10px;
    margin: auto;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .item {
    display: flex;
    width: fit-content;
    padding: 0.2em 0.3em;
    border-radius: 1em;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .item + .item {
    margin-top: 2em;
  }

  .item:hover {
    background-color: $hover;
  }

  .item:hover > * {
    color: $primaryColor;
  }

  .itemActive {
    background-color: $hover;
  }

  .itemActive > * {
    color: $primaryColor;
  }

  .iconContainer {
    position: relative;
  }

  .notify {
    position: absolute;
    top: -0.2em;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px $primaryBlack;
    background-color: $primaryColor;
  }

  .notifyNumber {
    font-size: 0.9rem;
    color: white;
  }

  .itemText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1023px) {
    .mobileBar {
      display: flex;
    }
    .navbar {
      top: 70px;
      left: 100%;
    }

    .navbarActive {
      left: 0;
    }

    .navbar {
      width: 100%;
      background-color: white;
    }

    .item {
      font-size: 2rem;
    }
  }
}
