.navbar {
  position: fixed;
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $hover;
  min-height: 100vh;
  overflow-y: overlay;
}

.navbarContainer {
  padding: 10px;
  margin: auto;
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.item {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 1.5rem;
  cursor: pointer;
}

.item + .item {
  margin-top: 80px;
}

.item:hover {
  background-color: $hover;
}

.item:hover > * {
  color: $primaryColor;
}

.itemActive {
  background-color: $hover;
}

.itemActive > * {
  color: $primaryColor;
}

.itemText {
  margin-left: 7px;
}

@media (max-width: 1023px) {
  .navbar {
    position: inherit;
  }
}
