$hover: rgba(0, 0, 0, 0.1);
$primaryBlack: #2e2f2f;
$primaryColor: #21bf73;
$primaryColorTint: #16ca73;
$primaryGrey: #b2b2b2;
$primaryRed: #db2828;
$primaryRedTint: #c52424;
$secondaryGrey: #e4e6e9;
$white: #f2f2f2;
