:global(#app) {
  .container {
    position: relative;
  }

  .hiddenAvatar {
    filter: brightness(0.45);
  }

  .form {
    margin-bottom: 0.7em;
  }

  .username {
    color: $primaryColor;
  }

  .usernameHidden {
    color: $primaryGrey;
  }

  .hiddenContent {
    color: $primaryGrey;
  }

  .container:hover .options {
    visibility: visible;
  }
  .icons {
    display: flex;
    justify-content: space-between;
  }

  .icons:hover .replyIcon {
    color: $primaryColor;
  }

  .container .options.hidden {
    visibility: hidden;
  }

  .replyIcon {
    transition: color 0.2s;
    transform: rotate(180deg);
  }

  .replyIconActive {
    color: $primaryColor;
  }

  .hiddenReplies {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
  }

  .hiddenRepliesIcon {
    cursor: pointer;
  }

  .options {
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .replyContainer {
    padding: 1em 0 0;
    max-width: none;
    font-size: 0.8rem;
  }

  .replyForm {
    display: flex;
  }

  .replyFormPhotoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100px;
  }

  .replyFormPhoto {
    object-fit: cover;
  }

  .replyFormContent {
    margin-left: 0.5em;
    width: 100%;
  }

  .like .icon {
    color: #ff3d47;
    opacity: 1;
  }

  .like:hover .icon {
    color: #cf2029;
  }

  .icon.likeIconActive {
    color: #cf2029;
  }

  .likeIconActive + .number {
    color: #cf2029;
  }

  @media (max-width: 3839px) {
    .replyFormPhotoContainer {
      max-width: 70px;
    }
  }

  @media (max-width: 2559px) {
    .replyFormPhotoContainer {
      max-width: 40px;
    }
  }

  @media (max-width: 1919px) {
    .replyFormPhotoContainer {
      max-width: 33px;
    }
  }

  @media (max-width: 1365px) {
    .replyFormPhotoContainer {
      max-width: 29px;
    }
  }

  @media (max-width: 1023px) {
    .replyFormPhotoContainer {
      max-width: 36px;
    }
  }
}
