:global(#app) {
  .container {
    display: flex;
    min-height: 100vh;
  }

  .conversationList {
    max-height: 100vh;
    overflow-y: scroll;
    width: 30%;
    border-right: 1px solid $primaryGrey;
  }

  .item:first-child {
    margin-top: 0.2em;
  }

  .item {
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $secondaryGrey;
    }
  }

  .messenger {
    width: 70%;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    overflow: hidden;
  }
}
