:global(#app) {
  .container {
    width: 500px;
  }

  .container + .container {
    margin-top: 3em;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
  }

  .toolBar {
    display: flex;
    justify-content: space-between;
  }

  .content {
    padding: 1em 0 0 0;
  }

  .description {
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .noMargin {
    margin: 0;
  }

  .photo {
    width: 100%;
  }

  .like {
    transition: color 0.2s;
  }

  .likeActive {
    color: #ff2733;
  }

  .comment {
    transition: color 0.2s;
    &:hover {
      color: $primaryColor;
    }
  }

  .reply {
    transition: color 0.2s;
    &:hover {
      color: aqua;
    }
  }
}
