:global(#app) {
  .container {
    width: 500px;
  }

  .container + .container {
    margin-top: 3em;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
  }

  .toolBar {
    display: flex;
    justify-content: space-between;
  }

  .content {
    padding: 1em 0 0 0;
  }

  .description {
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .noMargin {
    margin: 0;
  }

  .userPhoto img {
    border-radius: 3px;
  }

  .photo {
    width: 100%;
  }

  .like:hover .icon {
    color: #ff2733;
  }

  .likeIconActive {
    color: #ff2733;
  }

  .icon {
    transition: color 0.2s;
  }

  .comment:hover .icon {
    color: $primaryColor;
  }

  .reply:hover .icon {
    color: aqua;
  }
}
