:global(#app) {
  .item {
    position: relative;
    font-size: 0.8rem;
  }

  .item:hover .options {
    visibility: visible;
  }

  .hiddenAvatar {
    filter: brightness(0.45);
  }

  .username {
    color: $primaryColor;
  }

  .usernameHidden {
    color: $primaryGrey;
  }

  .hiddenContent {
    color: $primaryGrey;
  }

  .options {
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
