:global(#app) {
  .loading {
    flex-grow: 1;
  }

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .title {
    padding: 1em 1em;
    display: flex;
    align-items: center;
  }

  .titleText {
    margin: 0 0 0 1em;
  }

  .backIconContainer {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .backIcon {
    color: $primaryColor;
    font-size: 1.5rem;
    height: auto;
  }

  .table {
    width: 60%;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 1023px) {
    .table {
      width: 98%;
    }
    @media (max-width: 1023px) {
      .loading {
        margin-top: 4em;
      }
    }
  }
}
