:global(#app) {
  .container {
    display: flex;
    justify-content: center;
    flex: 50%;
  }
  .cardContainer {
    display: inline-flex;
    justify-content: space-between;
    width: 20rem;
    border: 1px solid $secondaryGrey;
    padding: 0.4rem 0.8rem;
    margin-top: 1rem;
  }

  .user {
    display: flex;
  }

  .photoContainer {
    width: 4.5rem;
    height: 4.5rem;
  }

  .photo {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
  }

  .username {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 1rem;
  }

  .dropdownContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
  }

  .dropdown i {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .optionItem {
    display: flex;
  }
}
