.container {
  display: inline-flex;
  justify-content: space-between;
  width: 300px;
  border: 1px solid $secondaryGrey;
  padding: 0.5em 1em;
  margin-top: 1em;
}

.user {
  display: flex;
}

.photoContainer {
  width: 4em;
  height: 4em;
}

.photo {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 0.3em;
}

.username {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
}
